@model FitnessClassWeb.Models.MVC.FitnessClasses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FitnessClasses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.classTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.classID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
